<h1>Your stupid coach</h1>
<br>
<FONT FACE size=5> <%= @question %> </FONT>
<em>You</em>
<br>
<br>
<FONT FACE size=5><strong><%= @answer %></strong></FONT>
<em>Your coach</em>
<br>
<br>

<%= link_to "Ask me anything else", ask_path %>
